*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-seri
}
.container{
    width: 1110px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
.data{
    height: 60px;
    background-image: url(./img/footer-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.data-div{
    display: flex;
     align-items: center;
     justify-content: space-between;
}
.tel-par{
 font-weight: 100;
 color: #caddea;
 font-size: 20px;
}
.tel-link{
color: #caddea;
}
.login-par{

 font-weight: 400;
 color: white;
 font-size: 22px;
}
.tel-div, .login{
    display: flex;
    align-items: center;
    gap: 35px;
}
.login-link{
    display: flex;
    align-items: center;
    gap: 15px;
}
.tabs-ul, .tab-item{
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: space-between;
}
.tabs{
    background-color: #1b7fd0;
    height: 40px;
    display: flex;
    align-items: center;
}
.tab-title{
 font-weight: 400;
 color: white;
 font-size: 20px;
}
.tab-line{
    height: 15px;
    width: 1px;
    background-color: white;
}
.things-go-better-with-us{
    background-color: #e6edf4;
}
.things-go-better-with-us-div{
    background-image: url(./img/header-bg.png);
        background-size: cover;
    background-position: center;
    height: 585px;
}
.message{
    background-color: #caddea;
    height: 62px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b7fd0;
    font-size: 22px;
    margin-top: 30px;
}
.offer-item{
    display: flex;
    align-items: center;
     font-weight: 400;
     gap: 10px;
     padding-top: 18px;
}
.offer-list{
    padding-top: 30px;
}
.offer-title{
    font-size: 22px;
}
.offer-paragraph{
    width: 500px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1b7fd0;
}
.buttons{
    width: 524px;
    flex-wrap: wrap;
}
.btn{
    background: none;
    border: none;
    outline: 1px solid #1b7fd0;
    width: 230px;
    height: 30px;
    color: #1b7fd0;
    margin-top: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.logo{
    padding-top: 35px;
}
.get-price{
    background-image: url(./img/get-price-bg.png);
         background-size: cover;
    background-position: center;
    height: 290px;
}
.get-price-text-div{
    width: 1142px;
    height: 50px;
    background-color: #caddea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-price-title{
    color: #1b7fd0;
    font-size: 28px;
    margin-left: 15px;
}
.sale-paragraph{
    font-weight: 400;
    color: #075da2;
    font-size: 22px;
    margin-right: 20px;
}
.paragraph-span{
 font-size: 50px;
 color: #dd0000;
}
.sale-div{
    display: flex;
    align-items: center;
    gap: 20px;
}